:root {
   --active: rgba(79, 84, 92, 0.24) !important;
   --hovered: rgba(79, 84, 92, 0.16) !important;
   --selected-background: rgba(112, 135, 215, 0.1) !important;
   --selected-badge: #7087d7 !important;
   --unread-background: rgba(255, 255, 255, 0.008) !important;
   --unread-badge: rgba(255, 255, 255, 0.6) !important;
}

.modeSelected-3DmyhH:hover .content-1gYQeQ, .privateChannels-oVe7HL .clickable-28SzVr.container-1oeRFJ:hover, .privateChannels-oVe7HL .clickable-28SzVr.container-1oeRFJ:hover .muted-14PyqW .container-1eFtFS .scroller-2FKFPG .scrollerWrap-2lJEkd .clickable-28SzVr:hover .layout-1qmrhw, .peopleListItem-u6dGxF.active-2UF8Zh, .peopleListItem-u6dGxF:hover, .wrapper-NhbLHG:hover .content-1gYQeQ {
   border-radius: 0 !important;
}

.privateChannels-oVe7HL .scrollerWrap-2lJEkd .scroller-2FKFPG .selected-1-Z6gm.container-1oeRFJ:before, .wrapper-NhbLHG.modeSelected-3DmyhH, .sidebar-nqHbhN .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG:before, .container-1eFtFS .scroller-2FKFPG .scrollerWrap-2lJEkd .clickable-28SzVr.container-1oeRFJ:active, .privateChannels-oVe7HL .selected-1-Z6gm.container-1oeRFJ {
   border-left: 2px solid var(--selected-badge);
}

.wrapper-NhbLHG.modeSelected-3DmyhH {
   background-color: var(--selected-background) !important;
}

.iconVisibility-vptxma.modeUnread-3Cxepe {
   background: var(--unread-background);
}

.iconVisibility-vptxma:hover {
   background-color: var(--hovered);
}

.privateChannels-oVe7HL .scrollerWrap-2lJEkd .scroller-2FKFPG .selected-1-Z6gm.container-1oeRFJ:before {
   content: ' ';
   height: 44px;
   position: absolute;
   top: 0;
}

.channel-1Shao0 {
   border-radius: 0 !important;
   margin-left: 0;
   max-width: 9999px;
   position: relative;
}

.container-PNkimc .scroller-2FKFPG .scrollerWrap-2lJEkd .clickable-28SzVr.container-1oeRFJ:active, .privateChannels-oVe7HL .selected-1-Z6gm.container-1oeRFJ {
   background: var(--selected-background) !important;
   border-radius: 0;
}

.privateChannels-oVe7HL .selected-1-Z6gm .layout-1qmrhw {
   background: none !important;
   margin-left: -2px !important;
}

.modeSelected-1zApJ_ .content-1gYQeQ, .modeSelected-1zApJ_:hover .content-1gYQeQ {
   background-color: var(--hovered);
   border-radius: 0 !important;
}

.wrapper-NhbLHG.modeSelected-1zApJ_:before {
   content: ' ';
   position: absolute;
   top: 0;
}

.unread-36eUEm, .wrapper-NhbLHG.modeSelected-1zApJ_:before {
   height: 34px;
}

.unread-36eUEm {
   background-color: var(--unread-badge);
   border-radius: 0;
   left: 0;
   margin-top: 0;
   top: 0;
   width: 2px;
}

.privateChannels-oVe7HL .clickable-28SzVr.container-1oeRFJ:hover, .privateChannels-oVe7HL .clickable-28SzVr.container-1oeRFJ:hover .muted-14PyqW {
   background: var(--hovered);
}

#app-mount .sidebar-1tnWFu [class*='scroller-']::-webkit-scrollbar {
   display: none;
}

.wrapper-NhbLHG:hover .content-1gYQeQ, .iconVisibility-vptxma .content-1gYQeQ, .privateChannels-oVe7HL .clickable-28SzVr:hover .layout-1qmrhw {
   background: none !important;
}