.modeSelected-1zApJ_:hover .content-3at_AU, .privateChannels-1nO12o .clickable-1JJAn8.container-2Pjhx-:hover, .privateChannels-1nO12o .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i .container-PNkimc .scroller-2FKFPG .scrollerWrap-2lJEkd .clickable-1JJAn8:hover .layout-2DM8Md, .peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh:hover, .wrapper-1ucjTd:hover .content-3at_AU {
   border-radius: 0;
}

.privateChannels-1nO12o .scrollerWrap-2lJEkd .scroller-2FKFPG .selected-aXhQR6.container-2Pjhx-:before, .wrapper-1ucjTd.modeSelected-1zApJ_:before, .sidebar-CFHs9e .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:before, .container-PNkimc .scroller-2FKFPG .scrollerWrap-2lJEkd .clickable-1JJAn8.container-2Pjhx-:active, .privateChannels-1nO12o .selected-aXhQR6.container-2Pjhx- {
   border-left: 2px solid var(--selected-badge);
}

.wrapper-1ucjTd.modeSelected-1zApJ_ {
   background-color: var(--selected-background) !important;
}

.wrapper-1ucjTd:hover .content-3at_AU {
   background: none !important;
}

.iconVisibility-1bOqu7.modeUnread-1zpFdA {
   background: var(--unread-background);
}

.iconVisibility-1bOqu7:hover {
   background-color: var(--hovered);
}

.privateChannels-1nO12o .scrollerWrap-2lJEkd .scroller-2FKFPG .selected-aXhQR6.container-2Pjhx-:before {
   content: ' ';
   position: absolute;
   height: 44px;
   top: 0;
}

.channel-2QD9_O {
   border-radius: 0 !important;
   position: relative;
   margin-left: 0;
   max-width: 9999px;
}

.container-PNkimc .scroller-2FKFPG .scrollerWrap-2lJEkd .clickable-1JJAn8.container-2Pjhx-:active, .privateChannels-1nO12o .selected-aXhQR6.container-2Pjhx- {
   border-radius: 0;
   background: var(--selected-background) !important;
}

.privateChannels-1nO12o .selected-aXhQR6 .layout-2DM8Md {
   margin-left: -2px !important;
   background: none !important;
}

.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU {
   border-radius: 0 !important;
   background-color: var(--hovered);
}

.wrapper-1ucjTd.modeSelected-1zApJ_:before {
   content: ' ';
   top: 0;
   position: absolute;
}

.unread-3zKkbm, .wrapper-1ucjTd.modeSelected-1zApJ_:before {
   height: 34px;
}

.unread-3zKkbm {
   background-color: var(--unread-badge);
   width: 2px;
   border-radius: 0;
   left: 0;
   top: 0;
   margin-top: 0;
}

.iconVisibility-1bOqu7 .content-3at_AU {
   background: none !important;
}

.privateChannels-1nO12o .clickable-1JJAn8:hover .layout-2DM8Md {
   background: none !important;
}

.privateChannels-1nO12o .clickable-1JJAn8.container-2Pjhx-:hover, .privateChannels-1nO12o .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i {
   background: var(--hovered);
}

#app-mount .sidebar-2K8pFh [class*='scroller-']::-webkit-scrollbar {
   display: none;
}